<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sandbox for Backbone.js</title>
    <script src="../lib/jquery-3.2.1.min.js"></script>
    <script src="../lib/underscore-min.js"></script>
    <script src="../lib/backbone-min.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
</head>
<body id="container">

<script type="text/template" id="plate-template">
    <div class="col-md-4" style="margin-top: 40px">
        <h2><%- title %></h2>
        <img src="<%- picture %>" class="img-fluid" alt="Responsive image">
        <p><%- description %></p>
        <p> <h2 class="float-left">$<%- price %></h2><a class="btn btn-primary float-right" href="#" role="button">Add to cart &raquo;</a></p>
    </div>
</script>

<script type="text/javascript">
    'use strict';

    var LicensePlate = Backbone.Model.extend({

    });

    var plate = new LicensePlate({
        "_id": "5a0c8ab22d8dc1f7fa170c9d",
        "onSale": false,
        "picture": "http://angulartraining.com/plates/GA.jpg",
        "title": "2008 Georgia license plate",
        "price": 8,
        "year": 2008,
        "state": "GA",
        "description": "A beautiful plate from the peach state"
    });

    var LicensePlateView = Backbone.View.extend({
        el: '#container',
        template: _.template($('#plate-template').html()),
        initialize: function(){
            this.render();
        },
        render: function(){
            this.$el.html(this.template(this.model.toJSON()));
            return this; // enable chained calls
        }
    });

    var app = new LicensePlateView({model: plate});

</script>
</body>
</html>